#menu
{
background-color:#CCCCCC;
height: 30px;
clear: both;
display:block;
}
#menu li {
float:left; 
display:block; 
width:150px; 
position:relative;
margin:0 1px;
height:30px;
width:auto;
min-width:150px;
}

#menu li a {
display:block;
font-weight:700;  
height:30px; 
text-decoration:none; 
text-align:center; 
color:#333;
padding:5px;
}

#menu li a:hover 
{
text-decoration:none;
}

#menu a.selected 
{
}

#menu ul {
position:absolute; 
left:0; 
display:none; 
margin:0 0 0 -1px;
padding:0; 
list-style:none;
}

#menu ul li {
width:100px; 
float:left; 
border-top:1px solid #fff;
width:185px;
background-color:#CCCCCC;
z-index:1000;
}

#menu ul a {
display:block;  
height:25px;
padding:5px; 
text-align:left;
}

#menu ul a:hover {
text-decoration:none;	
}

*html #menu ul {
margin:0 0 0 -2px;
}

#form
{
margin-left:5%;
margin-right:5%;
}

.info input[type="text"]
{
height:30px;
width:220px;
vertical-align:baseline;
}

.info select
{
margin: 0px 0px 10px 0px;
vertical-align:baseline;
}

.text-lable
{
line-height:40px;
}